/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: rgb(104, 102, 102);
  padding: 7vmin;
  min-block-size: 130vh;
  min-inline-size: 100%;
}
/* this is the styling for the navbar logo area */
/* #logo{
  color:transparent;
}

span{
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  color: #cf1b1b;
  font-size: 50px;
  letter-spacing: 3px;
}

span::before {
  content: "Chore Manager";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    rgb(14, 6, 108) 2px,
    rgb(14, 6, 108) 4px
  );

  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

span::after {
  content: "Chore Manager";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    rgb(86, 94, 152) 2px,
    rgb(86, 94, 152) 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

span:hover:before {
  top: 10px;
  left: 10px;
}

span:hover:after {
  top: -10px;
  left: -10px;
}  */

/* styling for a large graphic on the homepage with multi-layer text animation */
  .hometext{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #6f1097;
    font-size: 124px;
    letter-spacing: 8px;
  }
  
  .hometext::before {
    content: "Chore Manager";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      rgb(21, 20, 20) 2px,
      rgb(10, 9, 9) 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
  }
  
  .hometext::after {
    content: "Chore Manager";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      rgb(188, 188, 188) 2px,
      rgb(171, 169, 169) 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 1s;
  }
  
  .hometext:hover:before {
    top: 5px;
    left: 5px;
  }
  
  .hometext:hover:after {
    top: -10px;
    left: -10px;
  } 

  .home-btn-learnmore{
    position: absolute;
    left: 47%;
    top: 80%;
   
  }
  
.home-quote{
  position: center;
  top: 25%;
}
 

/* .cp-stamp {
  font-size: 100px;
  margin: 0;
   writing-mode: vertical-lr;
  text-align: center;
  line-height: .9;
}

.cp-stamp {
   transform: rotate(180deg);
}

.cp-stamp-div {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: max-content max-content;
}
 */

 footer{
  position: bottom;
 }