/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: rgb(104, 102, 102);
  min-block-size: 130vh;
  min-inline-size: 100%;
}

/* html, body {
  max-width: 100%;
  overflow-x: hidden;
} */

.loginandsignuppageheight{
  height: 50vh;
}

/* this is the styling for the navbar logo area */
/* #logo{
  color:transparent;
}

span{
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  color: #cf1b1b;
  font-size: 50px;
  letter-spacing: 3px;
}

span::before {
  content: "Chore Manager";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    rgb(14, 6, 108) 2px,
    rgb(14, 6, 108) 4px
  );

  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

span::after {
  content: "Chore Manager";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    rgb(86, 94, 152) 2px,
    rgb(86, 94, 152) 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

span:hover:before {
  top: 10px;
  left: 10px;
}

span:hover:after {
  top: -10px;
  left: -10px;
}  */




/* .cp-stamp {
  font-size: 100px;
  margin: 0;
   writing-mode: vertical-lr;
  text-align: center;
  line-height: .9;
}

.cp-stamp {
   transform: rotate(180deg);
}

.cp-stamp-div {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: max-content max-content;
}
 */

 footer{
  position: bottom;
 }

 .navbar-logo{
width: 70px;
 }

 
