/* dark image */
  /* body{
    background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 100vh;
  } */
/* light image */

/* home background image */
.banner-area{
    background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=1600");
    height: 80vh;
  }



.text-section{
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 50px;
}

.first-section{
  background: #f07e6e;
}

.second-section{
  background: #84cdfa;
}

.third-section{
  background:#5ad1cd;
}

.fourth-section{
background: rgb(154, 121, 251)
}

.home-img{
  width: 100%; /* or any custom size */
  height: 100%; 
  object-fit: contain;
}