/* dark image */
/* body{
    background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 100vh;
  } */
/* light image */

.first-section {
  background: #f07e6e;
}

.second-section {
  background: #84cdfa;
}

.third-section {
  background: #5ad1cd;
}

.fourth-section {
  background: #9a79fb;
}

.home-img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: fill;
}

/* appear onload*/
/* .home-img-appear { animation: 1s polygon reverse; }

@keyframes polygon {
  0% { clip-path: polygon(0 0, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%); }
  100% { clip-path:  polygon(50% 50%, 50% 25%, 50% 50%, 75% 50%, 50% 50%, 50% 75%, 50% 50%, 25% 50%); }
} */

.home-img-appear {
  clip-path: circle(30%);
  transition: clip-path 1s;
}
.homepage-card-container:hover .home-img-appear {
  clip-path: circle(85%);
}

.team-image {
  height: 180px;
  width: 170px;
}

.team-container:nth-child(2) {
  background-color: #f07d6e;
}

.team-container:nth-child(3) {
  background-color: #84cdfa;
}

.team-container:nth-child(4) {
  background-color: #5ad1cd;
}

.team-container:nth-child(5) {
  background-color: #9a79fb;
}

.arrows-container {
  height: 20vh;
  position: relative;
  width: 50%;
  bottom: 100px;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #f07d6e;
  border-right: 5px solid #f07d6e;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
