/* homepage quote styling */

.font-for-quote {
  font-weight: 900;
  font-size: 50px;
}

.quote-container {
  height: 50vh;
  
} 

 /* .quote {
  height: 100%;
} */

 /* .quote-and-button {
  height: 75%;

} */

/* .cta-text{
  font-weight: 900;
  font-size: 80px;
} */


hr{
  border: 3px solid rgb(255, 255, 255);
}


/* styling for a large graphic on the homepage with multi-layer text animation */
/* .hometext-container{
    position: relative;
    height: 70vh;
}

.hometext{
    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    display: block;
    color: #cfcecf;
    font-size: 124px;
    letter-spacing: 8px;
  }
  
  .hometext::before {
    content: "CHORE MANAGER";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      rgb(63, 62, 62) 2px,
      rgb(63, 62, 62) 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
  }
  
  .hometext::after {
    content: "CHORE MANAGER";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      rgb(63, 62, 62) 2px,
      rgb(63, 62, 62) 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 1s;
  }
  
  .hometext:hover:before {
    top: 10px;
    left: 10px;
  }
  
  .hometext:hover:after {
    top: -10px;
    left: -10px;
  }  */

 
  /* @media (max-width: 450px) {
    #intro {
      height: 950px !important;
    }

  }
}

@media (min-width: 550px) and (max-width: 750px) {
  #intro {
    height: 1100px !important;
  }
}

@media (min-width: 800px) and (max-width: 990px) {
  #intro {
    height: 600px !important;
  }
}

.display-1 {
  font-weight: 500 !important;
  letter-spacing: 40px;
}

@media (min-width: 1600px) {
  .display-1 {

    font-weight: 500 !important;
    letter-spacing: 40px;
  }
  
  @media (min-width: 1600px) {
    .display-1 {
      font-size: 10rem;
    }
  } */


/* .button-test:hover{
    letter-spacing: 3px;
    
  } */
