/* animation */


.play-mannimation-div {
    align-items: center;
  justify-content: center;
  background: #f1f1f1;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}


  .perspective-text {
    color: #f07d6e;
    font-family: Arial;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    width: 100%;
  }
  
  .play-perspective-line {
    height: 30px;
    overflow: hidden;
    position: relative;
  }
  
  .perspective-text{
    margin: 0;
    height: 30px;
    line-height: 30px;
    transition: all 0.5s ease-in-out;
  }
  
  .play-perspective-line:nth-child(odd) {
    transform: skew(40deg, -5deg) scaleY(0.667);
   
  }
  
  
  .play-perspective-line:nth-child(even) {
    transform: skew(0deg, -5deg) scaleY(1.337);
    
  }
  
  .play-perspective-text:hover .perspective-text {
    transform: translate(0, -30px);
    color: #84cdfa;
    text-decoration: dotted;
    
  }
  
  .play-perspective-line:nth-child(1) {
    left: 29px;
  }

  .play-perspective-line:hover:nth-child(1) {
    left: 29px;
  }
  
  
  .play-perspective-line:nth-child(2) {
    left: 58px;
    background: #f07d6e00;
  }
  
  .play-perspective-line:nth-child(3) {
    left: 87px;
    background: #84cdfa00;
  }
  
  .play-perspective-line:nth-child(4) {
    left: 116px;
    background: #5ad1cd00;
  }
  
  .play-perspective-line:nth-child(5) {
    left: 145px;
    
  }

