/* animation */
.animated-div{
  margin-top: -40px; 
  width: 120%;
  position: relative;
  left: -20%;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  height: 630px;
  top: 150px;
}

/* controls the overflow for the animated container */
.overflow{
   overflow-x: hidden;
  overflow-y: hidden; 
}

.animation-div {
    align-items: center;
  justify-content: center;
  background: #ffffff;
  /* overflow: hidden; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  z-index: 2; 
  
}

  .perspective-text {
    color: white;
    font-family: Arial;
    font-size: 75px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    width: 110%;
  }
  


  .perspective-line {
    height: 70px;
    overflow: hidden;
    position: relative;
  }

  /* this is only for the p tags */
  .banner-text-test {
    margin: 0;
    height: 70px;
    line-height: 70px;
    transition: all 0.5s ease-in-out;
  }
  
  
  .perspective-line:nth-child(odd) {
    transform: skew(60deg, -10deg) scaleY(0.667);
  }
  
  .perspective-line:nth-child(even) {
    transform: skew(0deg, -10deg) scaleY(1.337);
  }
  
  .perspective-text:hover .banner-text-test {
    transform: translate(0, -70px);
    
  }
  
  .perspective-line:nth-child(1) {
    left: 29px;
  }

  .perspective-line:hover:nth-child(1) {
    left: 29px;
  }
  
  
  .perspective-line:nth-child(2) {
    left: 58px;
    background: #f07e6e;
  }
  
  .perspective-line:nth-child(3) {
    left: 87px;
    background: #84cdfa;
  }
  
  .perspective-line:nth-child(4) {
    left: 116px;
    background: #5ad1cd;
  }
  
  .perspective-line:nth-child(5) {
    left: 145px;
    background: rgba(153, 121, 251, 0);
    width: 100%;
  }

